<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On

    # Block direct access to URLs containing /ITE311-BOLANDO/public/ by returning 404
    # RewriteCond %{REQUEST_URI} ^/ITE311-BOLANDO/public/ [NC]
    # RewriteRule ^ - [R=404,L]

    # Redirect everything to ITE311-BOLANDO/public/ if not starting with ITE311-BOLANDO
    RewriteCond %{REQUEST_URI} !^/ITE311-BOLANDO
    RewriteCond %{REQUEST_URI} !^/ITE311-BOLANDO/public/
    RewriteRule ^(.*)$ ITE311-BOLANDO/public/$1 [L]
</IfModule>
